#content {
  background-color: lavender;
  max-width: 85%;
  display: flex;
  flex-direction: row;

  height: 80%;
  justify-content: center;
  margin: 0 auto;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:black;
  height: 1px;
}

#fact-container {
  margin-top: 20px;
}

#hello-container {
    margin-top: 20px;
}

#button-container {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}

#button-container li {
    display:inline-block;
    margin-right: 8px;
}

#button-container a {
    text-decoration: none;
    padding: 4px;
}

#comments-container {
    margin-top: 20px;
    list-style: none;
}

#comments {
    margin-top: 20px;
}

#supp-pages {
  background-color: lavender;
  flex: 1;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  height: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0;
}

#inner {
    padding-left: 20px;
    padding-right: 20px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
    width:100%;
    border: thin solid black;
}

.mapContainer{
    height:200px;
    width:100%
}

.image-cropper {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.my-picture {
    display: inline;
    margin: 0 auto;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    margin-left: 5px;
    margin-right: 35px;
}

.right{
    max-width: 50%;
    margin: 5px;
}

.left{
    max-width: 35%;
}

.my-links {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}

.my-links li {
    display:inline-block;
    margin-right: 8px;
}

.my-links a {
    text-decoration: none;
    padding: 4px;
}

.my-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.name, .subtitle, .my-links, .left {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.topnav {
  background-color: #333;
  overflow: hidden;
  max-width: 85%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:lavender;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: lavender;
  color: black;
}

/* Hide the link that should open and close the 
   topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, 
   except for the first one ("Home"). Show the link that contains 
   should open and close the topnav (.icon) */
@media screen and (max-width: 85%) {
  .topnav a:not(:first-child) {
      display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript 
   when the user clicks on the icon. This class makes the topnav look 
   good on small screens (display the links vertically instead of 
   horizontally) */
@media screen and (max-width: 85%) {
  .topnav.responsive {
      position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}